import Wl{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Wl{{properCase name}}',
  component: Wl{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { Wl{{properCase name}} },
  template: `
    <div>
      <wl-{{name}}></wl-{{name}}>
    </div>
  `
})